@charset "utf-8";
body {
  background-color: blue;
}
ul {
  margin: 0;
  padding: 20px;
}
div {
  height: 80px;
}
/**我是被编译的*/
.box {
  width: 100px;
  height: 100px;
  background-color: yellow;
  border: solid 5px pink;
}
.border {
  border: solid 5px pink;
}
.test_hunhe {
  border: solid #ffff00 30px;
}
.test_hunhe_03 {
  border: solid #008000 20px;
}
.radius_test {
  width: 100px;
  height: 40px;
  background-color: green;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/**
.sanjiao{
	width: 0;
	height: 0;
	overflow: hidden;

	border-width: 10px;
	border-color: transparent transparent red  transparent;
	border-style: solid;
}*/
.sanjiao {
  border-width: 100px;
  border-color: transparent transparent #cccccc transparent;
  border-style: dashed dashed solid dashed;
  width: 0;
  height: 0;
  overflow: hidden;
}
